@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', 'Roboto','Open Sans';
    font-weight: bold;
    /* font-size: 15px; */
}

.calculator {
    background: #101010;
    width: 25em;
    margin: 5em auto;
}

.display {
    background: #222222;
    color: #ffffff;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.7em;
    height: 6em;
    line-height: 8em;
    padding: 0 1.5em;
}

.controls {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0.7em 0;
    margin: auto 0.5em;
}

.controls button {
    background: #a2d2ff;
    color: #fff;
    height: 5.5em;
    cursor: pointer;
    margin: 0.5em;
    border: unset;
    border-radius: 0.5em;
    outline: unset;
}

.controls button:hover {
  background: #ffee32;
}

.controls button:active {
  transform: translateY(0.2em)
}

.controls .orange {
  background: #118ab2;
}

.controls .orange:hover {
  background: #ff7d00;
}

.label {
    display: flex;
    height: 100%;
    width: 100%;
}

@media screen and (max-width: 768px) {
  .calculator {
    width: 100vw;
    height: 100vh;
    margin: auto;
  }
}